Final Project

Tim:

-Weldhan @weldhanhasfa 
-Surya @Suryasap007
-Shofyan @shofyanariantho
-Sepbi @
-Rizal

Theme Options: 
-Sayur-box Lite (E-Commerce)
-Clone IMdb (Repository Film) 
-Forum Tanya Jawab/ Stack Overflow (Forum)

Breakdown Theme: Clone IMDB (Rekomendasi Film) https://www.imdb.com/
1. Users
2. Profiles
-Name
-Mobile

3.Films
-Title
-Description
-Score/Rate
-Cover

4.Genres
-Name

5.Reviews
-Text

6.Actors
-Name
-Cast
-Photo

Data Structure:
1. Backend: Node Js
-REST API
-MySQL
-Auth
-JWT
-Knex
2. Frontend: React Js 
-React Js
-Bootstrap

Repo: Github

Tugas:
-ERD : Surya (17 Mei 2022)
-Git Repo : Shofyan (16 Mei 2022)
-Backend: Weldhan, Shofyan (29 Mei 2022)
-Frontend: Dashboard Admin, Page -> Surya, Sepbi, Rizal (04 Juni 2022)
-Deploy : Shofyan (04 Juni 2022)
