.title_style {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    bottom: 5%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-width: 1px;
    border-radius: 0.75rem;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
    margin-bottom: 3rem;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

@media (min-width: 768px) {
    .title_style {
        -tw-translate-x: -50%;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
}

.icons_group {
    height: 1.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: white;
    width: 4rem;
    padding-right: 0;
}

.content_style {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
}

.desc_style {
    display: flex;
    padding: 1rem, 0.5rem, 1rem, 0.5rem;
    color: rgba(255, 255, 255, 0.5);
}